body{
    margin:0;
    padding:0;
    font-family: montserrat;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    height:100vh;
    overflow: hidden;
}
button{
    margin-bottom: 18px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    margin-top: 15px;
}
label{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #277513;
}
table {
    margin-left: 20px;
}